<a href="https://colab.research.google.com/github/acambraia/insper/blob/main/AulaInsper13062022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#instalação das bilbiotecas necessárias no ambiente do colab
!pip install -U pandas_profiling >> /dev/null 2>&1
!pip install quickda >> /dev/null 2>&1
!pip install markupsafe==2.0.1

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting markupsafe==2.0.1
  Using cached MarkupSafe-2.0.1-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (31 kB)
Installing collected packages: markupsafe
  Attempting uninstall: markupsafe
    Found existing installation: MarkupSafe 2.1.1
    Uninstalling MarkupSafe-2.1.1:
      Successfully uninstalled MarkupSafe-2.1.1
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
pandas-profiling 3.2.0 requires markupsafe~=2.1.1, but you have markupsafe 2.0.1 which is incompatible.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.
Successfully installed markupsafe-2.0.1

In [ ]:
#importa as biblioteca
import pandas as pd #Pandas
import numpy as np  #Bibliotca NumPy para processamente de arrays numéricos
import matplotlib.pyplot as plt #Biblioteca para geração de gráficos em python
import seaborn as sns #Importa biblioteca seaborn para graficos

In [ ]:
#importa funções
from quickda.explore_data import * #Importa funções para estatisticas da quickeda
from quickda.clean_data import * #Importa funções para limpeza de dados
from quickda.explore_numeric import * #importa funções para tratar dados numéricos
from quickda.explore_categoric import * #importa funções categóricas
from quickda.explore_numeric_categoric import * #importa funções numéricas / categóricas

In [ ]:
#importa a tabela com os dados de todos os municípios
mun = pd.read_csv('municipio.csv')
mun.head()

,id_municipio,id_municipio_6,id_municipio_tse,id_municipio_rf,id_municipio_bcb,nome,capital_uf,id_comarca,id_regiao_saude,nome_regiao_saude,...,nome_regiao_intermediaria,id_microrregiao,nome_microrregiao,id_mesorregiao,nome_mesorregiao,ddd,id_uf,sigla_uf,nome_uf,nome_regiao
0,1100015,110001,310,33,43036.0,Alta Floresta D'Oeste,0,1100015,11005,Zona da Mata,...,Ji-Paraná,11006,Cacoal,1102,Leste Rondoniense,69,11,RO,Rondônia,Norte
1,1100023,110002,78,7,9393.0,Ariquemes,0,1100023,11001,Vale do Jamari,...,Porto Velho,11003,Ariquemes,1102,Leste Rondoniense,69,11,RO,Rondônia,Norte
2,1100031,110003,450,37,44626.0,Cabixi,0,1100064,11006,Cone Sul,...,Ji-Paraná,11008,Colorado do Oeste,1102,Leste Rondoniense,69,11,RO,Rondônia,Norte
3,1100049,110004,94,9,10746.0,Cacoal,0,1100049,11002,Café,...,Ji-Paraná,11006,Cacoal,1102,Leste Rondoniense,69,11,RO,Rondônia,Norte
4,1100056,110005,272,27,42219.0,Cerejeiras,0,1100056,11006,Cone Sul,...,Ji-Paraná,11008,Colorado do Oeste,1102,Leste Rondoniense,69,11,RO,Rondônia,Norte

In [ ]:
#importa a tabela com os dados do PIB por município
pib = pd.read_csv('pibMunicipio.csv')
pib.head()

,ano,id_municipio,pib,impostos_liquidos,va,va_agropecuaria,va_industria,va_servicos,va_adespss
0,2002,1100015,111290995,7549266,103741729,27013223,9376871,24651113,42700523
1,2003,1100015,143222381,10511613,132710768,41079095,12700905,32975861,45954907
2,2004,1100015,173990790,12219047,161771743,41413428,29963081,39089592,51305642
3,2005,1100015,167127355,12933774,154193581,41523789,13391368,39585165,59693260
4,2006,1100015,168805060,13668803,155136257,39469080,12885117,36398740,66383320

In [ ]:
#unifica as tabelas de município com seus respectivos PIBs
#sintaxe pd.merge(tabela_da_esquerda, tabela_da_direita, on="coluna_coincidente", how="left|right|inner|outer)
grl = pd.merge(mun, pib, on='id_municipio', how='left')
grl.head()

,id_municipio,id_municipio_6,id_municipio_tse,id_municipio_rf,id_municipio_bcb,nome,capital_uf,id_comarca,id_regiao_saude,nome_regiao_saude,...,nome_uf,nome_regiao,ano,pib,impostos_liquidos,va,va_agropecuaria,va_industria,va_servicos,va_adespss
0,1100015,110001,310,33,43036.0,Alta Floresta D'Oeste,0,1100015,11005,Zona da Mata,...,Rondônia,Norte,2002,111290995,7549266,103741729,27013223,9376871,24651113,42700523
1,1100015,110001,310,33,43036.0,Alta Floresta D'Oeste,0,1100015,11005,Zona da Mata,...,Rondônia,Norte,2003,143222381,10511613,132710768,41079095,12700905,32975861,45954907
2,1100015,110001,310,33,43036.0,Alta Floresta D'Oeste,0,1100015,11005,Zona da Mata,...,Rondônia,Norte,2004,173990790,12219047,161771743,41413428,29963081,39089592,51305642
3,1100015,110001,310,33,43036.0,Alta Floresta D'Oeste,0,1100015,11005,Zona da Mata,...,Rondônia,Norte,2005,167127355,12933774,154193581,41523789,13391368,39585165,59693260
4,1100015,110001,310,33,43036.0,Alta Floresta D'Oeste,0,1100015,11005,Zona da Mata,...,Rondônia,Norte,2006,168805060,13668803,155136257,39469080,12885117,36398740,66383320

In [ ]:
grl.shape

(200372, 31)

In [ ]:
grl.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 200372 entries, 0 to 200371
Data columns (total 31 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   id_municipio               200372 non-null  int64
 1   id_municipio_6             200372 non-null  int64
 2   id_municipio_tse           200372 non-null  int64
 3   id_municipio_rf            200372 non-null  int64
 4   id_municipio_bcb           199186 non-null  float64
 5   nome                       200372 non-null  object
 6   capital_uf                 200372 non-null  int64
 7   id_comarca                 200372 non-null  int64
 8   id_regiao_saude            200372 non-null  int64
 9   nome_regiao_saude          200372 non-null  object
 10  id_regiao_imediata         200372 non-null  int64
 11  nome_regiao_imediata       200372 non-null  object
 12  id_regiao_intermediaria    200372 non-null  int64
 13  nome_regiao_intermediaria  200372 non-null  object
 14  id_microrregiao            200372 non-null  int64
 15  nome_microrregiao          200372 non-null  object
 16  id_mesorregiao             200372 non-null  int64
 17  nome_mesorregiao           200372 non-null  object
 18  ddd                        200372 non-null  int64
 19  id_uf                      200372 non-null  int64
 20  sigla_uf                   200372 non-null  object
 21  nome_uf                    200372 non-null  object
 22  nome_regiao                200372 non-null  object
 23  ano                        200372 non-null  int64
 24  pib                        200372 non-null  int64
 25  impostos_liquidos          200372 non-null  int64
 26  va                         200372 non-null  int64
 27  va_agropecuaria            200372 non-null  int64
 28  va_industria               200372 non-null  int64
 29  va_servicos                200372 non-null  int64
 30  va_adespss                 200372 non-null  int64
dtypes: float64(1), int64(21), object(9)
memory usage: 48.9+ MB

In [ ]:
grl.describe()

,id_municipio,id_municipio_6,id_municipio_tse,id_municipio_rf,id_municipio_bcb,capital_uf,id_comarca,id_regiao_saude,id_regiao_imediata,id_regiao_intermediaria,...,ddd,id_uf,ano,pib,impostos_liquidos,va,va_agropecuaria,va_industria,va_servicos,va_adespss
count,2.003720e+05,200372.000000,200372.000000,200372.000000,199186.000000,200372.000000,2.003720e+05,200372.000000,200372.000000,200372.000000,...,200372.000000,200372.000000,200372.000000,2.003720e+05,2.003720e+05,2.003720e+05,2.003720e+05,2.003720e+05,2.003720e+05,2.003720e+05
mean,3.253204e+06,325319.936099,51464.204300,4522.341205,29143.803942,0.004851,3.253019e+06,32399.222257,323754.335057,3241.462061,...,57.094105,32.373825,2010.503204,7.619733e+08,1.096863e+08,6.522870e+08,3.439481e+07,1.584994e+08,3.499350e+08,1.094578e+08
std,9.844737e+05,98447.366958,29368.477808,3049.668818,16442.163107,0.069480,9.845051e+05,9832.842350,98296.770880,983.376301,...,25.423054,9.829474,5.187991,8.385942e+09,1.542874e+09,6.871250e+09,6.648153e+07,1.116224e+09,5.114927e+09,1.112397e+09
min,1.100015e+06,110001.000000,19.000000,1.000000,1009.000000,0.000000,1.100015e+06,11001.000000,110001.000000,1101.000000,...,11.000000,11.000000,2002.000000,-1.904643e+07,-1.508840e+07,-5.105931e+08,-2.298910e+06,-2.897193e+09,3.722780e+05,1.446664e+06
25%,2.512101e+06,251210.000000,24252.000000,1601.000000,14986.000000,0.000000,2.512002e+06,25010.000000,250009.000000,2503.000000,...,35.000000,25.000000,2006.000000,4.067011e+07,1.549588e+06,3.878537e+07,6.262153e+06,1.994530e+06,9.177199e+06,1.342454e+07
50%,3.146255e+06,314625.000000,51233.000000,4387.000000,28886.000000,0.000000,3.144409e+06,31059.000000,310039.000000,3107.000000,...,55.000000,31.000000,2011.000000,9.407137e+07,4.731432e+06,8.869322e+07,1.560820e+07,6.657800e+06,2.483633e+07,2.691132e+07
75%,4.119103e+06,411910.000000,79197.000000,7183.000000,43029.000000,0.000000,4.117701e+06,41015.000000,410019.000000,4104.000000,...,82.000000,41.000000,2015.000000,2.678639e+08,1.914676e+07,2.472872e+08,3.657398e+07,3.676179e+07,8.487135e+07,6.227097e+07
max,5.300108e+06,530010.000000,99074.000000,9997.000000,58375.000000,1.000000,5.300108e+06,53001.000000,530001.000000,5301.000000,...,99.000000,53.000000,2019.000000,7.638060e+11,1.324779e+11,6.313280e+11,2.482542e+09,6.689305e+10,5.283801e+11,1.072192e+11

In [ ]:
#explore(grl, method='profile')

In [ ]:
#Remover colunas
colunas_del = ['ddd', 'id_uf', 'id_municipio_6','id_municipio_tse','id_municipio_rf','id_municipio_bcb','capital_uf','id_comarca','id_regiao_saude','id_regiao_imediata','id_regiao_intermediaria','id_microrregiao','id_mesorregiao']
grl_2 = clean(grl, method='dropcols', columns=colunas_del)
grl_2.head()

,id_municipio,nome,nome_regiao_saude,nome_regiao_imediata,nome_regiao_intermediaria,nome_microrregiao,nome_mesorregiao,sigla_uf,nome_uf,nome_regiao,ano,pib,impostos_liquidos,va,va_agropecuaria,va_industria,va_servicos,va_adespss
0,1100015,Alta Floresta D'Oeste,Zona da Mata,Cacoal,Ji-Paraná,Cacoal,Leste Rondoniense,RO,Rondônia,Norte,2002,111290995,7549266,103741729,27013223,9376871,24651113,42700523
1,1100015,Alta Floresta D'Oeste,Zona da Mata,Cacoal,Ji-Paraná,Cacoal,Leste Rondoniense,RO,Rondônia,Norte,2003,143222381,10511613,132710768,41079095,12700905,32975861,45954907
2,1100015,Alta Floresta D'Oeste,Zona da Mata,Cacoal,Ji-Paraná,Cacoal,Leste Rondoniense,RO,Rondônia,Norte,2004,173990790,12219047,161771743,41413428,29963081,39089592,51305642
3,1100015,Alta Floresta D'Oeste,Zona da Mata,Cacoal,Ji-Paraná,Cacoal,Leste Rondoniense,RO,Rondônia,Norte,2005,167127355,12933774,154193581,41523789,13391368,39585165,59693260
4,1100015,Alta Floresta D'Oeste,Zona da Mata,Cacoal,Ji-Paraná,Cacoal,Leste Rondoniense,RO,Rondônia,Norte,2006,168805060,13668803,155136257,39469080,12885117,36398740,66383320

In [ ]:
grl_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 200372 entries, 0 to 200371
Data columns (total 18 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   id_municipio               200372 non-null  int64
 1   nome                       200372 non-null  object
 2   nome_regiao_saude          200372 non-null  object
 3   nome_regiao_imediata       200372 non-null  object
 4   nome_regiao_intermediaria  200372 non-null  object
 5   nome_microrregiao          200372 non-null  object
 6   nome_mesorregiao           200372 non-null  object
 7   sigla_uf                   200372 non-null  object
 8   nome_uf                    200372 non-null  object
 9   nome_regiao                200372 non-null  object
 10  ano                        200372 non-null  int64
 11  pib                        200372 non-null  int64
 12  impostos_liquidos          200372 non-null  int64
 13  va                         200372 non-null  int64
 14  va_agropecuaria            200372 non-null  int64
 15  va_industria               200372 non-null  int64
 16  va_servicos                200372 non-null  int64
 17  va_adespss                 200372 non-null  int64
dtypes: int64(9), object(9)
memory usage: 29.0+ MB

In [ ]:
# Exibe as regiões da base
 grl_2['nome_regiao'].unique()

array(['Norte', 'Nordeste', 'Sudeste', 'Sul', 'Centro-Oeste'],
      dtype=object)

In [ ]:
#agrupa os dados por região/ano
grupoRegiao = grl_2.groupby(['nome_regiao', 'ano'])
grupoRegiao.describe().head(30)

                  id_municipio                                          \
                         count          mean            std        min
nome_regiao  ano
Centro-Oeste 2002        926.0  5.145280e+06   78617.178475  5000203.0
             2003        926.0  5.145280e+06   78617.178475  5000203.0
             2004        926.0  5.145280e+06   78617.178475  5000203.0
             2005        932.0  5.144801e+06   78680.820261  5000203.0
             2006        932.0  5.144801e+06   78680.820261  5000203.0
             2007        932.0  5.144801e+06   78680.820261  5000203.0
             2008        932.0  5.144801e+06   78680.820261  5000203.0
             2009        932.0  5.144801e+06   78680.820261  5000203.0
             2010        932.0  5.144801e+06   78680.820261  5000203.0
             2011        932.0  5.144801e+06   78680.820261  5000203.0
             2012        932.0  5.144801e+06   78680.820261  5000203.0
             2013        934.0  5.144505e+06   78857.136845  5000203.0
             2014        934.0  5.144505e+06   78857.136845  5000203.0
             2015        934.0  5.144505e+06   78857.136845  5000203.0
             2016        934.0  5.144505e+06   78857.136845  5000203.0
             2017        934.0  5.144505e+06   78857.136845  5000203.0
             2018        934.0  5.144505e+06   78857.136845  5000203.0
             2019        934.0  5.144505e+06   78857.136845  5000203.0
Nordeste     2002       3584.0  2.521174e+06  285788.429917  2100055.0
             2003       3584.0  2.521174e+06  285788.429917  2100055.0
             2004       3584.0  2.521174e+06  285788.429917  2100055.0
             2005       3586.0  2.520995e+06  285808.739234  2100055.0
             2006       3586.0  2.520995e+06  285808.739234  2100055.0
             2007       3586.0  2.520995e+06  285808.739234  2100055.0
             2008       3586.0  2.520995e+06  285808.739234  2100055.0
             2009       3588.0  2.520820e+06  285825.347662  2100055.0
             2010       3588.0  2.520820e+06  285825.347662  2100055.0
             2011       3588.0  2.520820e+06  285825.347662  2100055.0
             2012       3588.0  2.520820e+06  285825.347662  2100055.0
             2013       3588.0  2.520820e+06  285825.347662  2100055.0

                                                                    pib  \
                          25%        50%         75%        max   count
nome_regiao  ano
Centro-Oeste 2002  5103440.75  5201108.0  5212179.25  5300108.0   926.0
             2003  5103440.75  5201108.0  5212179.25  5300108.0   926.0
             2004  5103440.75  5201108.0  5212179.25  5300108.0   926.0
             2005  5103437.00  5200877.0  5212105.00  5300108.0   932.0
             2006  5103437.00  5200877.0  5212105.00  5300108.0   932.0
             2007  5103437.00  5200877.0  5212105.00  5300108.0   932.0
             2008  5103437.00  5200877.0  5212105.00  5300108.0   932.0
             2009  5103437.00  5200877.0  5212105.00  5300108.0   932.0
             2010  5103437.00  5200877.0  5212105.00  5300108.0   932.0
             2011  5103437.00  5200877.0  5212105.00  5300108.0   932.0
             2012  5103437.00  5200877.0  5212105.00  5300108.0   932.0
             2013  5103411.50  5200852.0  5212092.50  5300108.0   934.0
             2014  5103411.50  5200852.0  5212092.50  5300108.0   934.0
             2015  5103411.50  5200852.0  5212092.50  5300108.0   934.0
             2016  5103411.50  5200852.0  5212092.50  5300108.0   934.0
             2017  5103411.50  5200852.0  5212092.50  5300108.0   934.0
             2018  5103411.50  5200852.0  5212092.50  5300108.0   934.0
             2019  5103411.50  5200852.0  5212092.50  5300108.0   934.0
Nordeste     2002  2300791.50  2508529.5  2804532.75  2933604.0  3584.0
             2003  2300791.50  2508529.5  2804532.75  2933604.0  3584.0
             2004  2300791.50  2508529.5  2804532.75  2933604.0  3584.0
             2005  2300754.00  2508505.0  2804508.00  2933604.0  3586.0
             2006  2300754.00  2508505.0  2804508.00  2933604.0  3586.0
             2007  2300754.00  2508505.0  2804508.00  2933604.0  3586.0
             2008  2300754.00  2508505.0  2804508.00  2933604.0  3586.0
             2009  2300705.00  2508455.5  2804508.00  2933604.0  3588.0
             2010  2300705.00  2508455.5  2804508.00  2933604.0  3588.0
             2011  2300705.00  2508455.5  2804508.00  2933604.0  3588.0
             2012  2300705.00  2508455.5  2804508.00  2933604.0  3588.0
             2013  2300705.00  2508455.5  2804508.00  2933604.0  3588.0

                                 ...   va_servicos               va_adespss  \
                           mean  ...           75%           max      count
nome_regiao  ano                 ...
Centro-Oeste 2002  2.768092e+08  ...  3.217926e+07  2.192757e+10      926.0
             2003  3.294982e+08  ...  4.195670e+07  2.345758e+10      926.0
             2004  3.778430e+08  ...  4.476749e+07  2.629429e+10      926.0
             2005  4.025324e+08  ...  4.813808e+07  2.954322e+10      932.0
             2006  4.364911e+08  ...  5.536841e+07  3.431002e+10      932.0
             2007  4.998432e+08  ...  6.649964e+07  3.893115e+10      932.0
             2008  5.968646e+08  ...  7.402486e+07  4.551420e+10      932.0
             2009  6.639499e+08  ...  8.035893e+07  4.858424e+10      932.0
             2010  7.614073e+08  ...  8.798364e+07  5.825956e+10      932.0
             2011  8.586970e+08  ...  1.005761e+08  6.216635e+10      932.0
             2012  9.539443e+08  ...  1.237779e+08  6.788327e+10      932.0
             2013  1.039878e+09  ...  1.356026e+08  7.371699e+10      934.0
             2014  1.161953e+09  ...  1.627246e+08  8.535892e+10      934.0
             2015  1.241427e+09  ...  1.715701e+08  9.237578e+10      934.0
             2016  1.355615e+09  ...  1.937861e+08  1.038599e+11      934.0
             2017  1.413090e+09  ...  2.099615e+08  1.083221e+11      934.0
             2018  1.488032e+09  ...  2.232587e+08  1.137681e+11      934.0
             2019  1.566063e+09  ...  2.314850e+08  1.252619e+11      934.0
Nordeste     2002  1.087320e+08  ...  1.297525e+07  9.431575e+09     3584.0
             2003  1.230872e+08  ...  1.421223e+07  1.034405e+10     3584.0
             2004  1.404744e+08  ...  1.622811e+07  1.182081e+10     3584.0
             2005  1.577504e+08  ...  1.872278e+07  1.279279e+10     3586.0
             2006  1.773275e+08  ...  2.148818e+07  1.385984e+10     3586.0
             2007  1.976533e+08  ...  2.390663e+07  1.688300e+10     3586.0
             2008  2.264929e+08  ...  2.671830e+07  1.835681e+10     3586.0
             2009  2.518983e+08  ...  3.068898e+07  2.187406e+10     3588.0
             2010  2.913987e+08  ...  3.454421e+07  2.328160e+10     3588.0
             2011  3.252022e+08  ...  4.147854e+07  2.548280e+10     3588.0
             2012  3.640286e+08  ...  4.814405e+07  2.792770e+10     3588.0
             2013  4.038594e+08  ...  5.582557e+07  3.192059e+10     3588.0

                                                                        \
                           mean           std         min          25%
nome_regiao  ano
Centro-Oeste 2002  6.893013e+07  9.678354e+08   1960966.0   5011270.25
             2003  7.753864e+07  1.070142e+09   2066013.0   5648814.00
             2004  8.992955e+07  1.254183e+09   2721926.0   6314668.75
             2005  9.956592e+07  1.378042e+09   2860012.0   7193359.00
             2006  1.147130e+08  1.584384e+09   2984228.0   7908053.00
             2007  1.266451e+08  1.722120e+09   3979127.0   9104973.00
             2008  1.467868e+08  1.990869e+09   4261253.0  10803885.00
             2009  1.666426e+08  2.325263e+09   4497862.0  11276764.00
             2010  1.832961e+08  2.499913e+09   5482075.0  12953078.00
             2011  2.042400e+08  2.761679e+09   6035314.0  13887224.00
             2012  2.143126e+08  2.796688e+09   6337676.0  15049167.00
             2013  2.407299e+08  3.101174e+09   7022307.0  17367133.00
             2014  2.654176e+08  3.423051e+09   7603806.0  19300587.75
             2015  2.953268e+08  3.865897e+09   8158261.0  20860291.25
             2016  3.251106e+08  4.271093e+09   8398780.0  22576475.25
             2017  3.497153e+08  4.548202e+09   9253281.0  24250829.50
             2018  3.667989e+08  4.724896e+09   9975410.0  25181667.75
             2019  3.904623e+08  4.979013e+09  10161009.0  26701354.75
Nordeste     2002  2.248763e+07  8.016905e+07   1446664.0   6200378.50
             2003  2.521424e+07  8.944614e+07   1566286.0   6921135.25
             2004  2.757934e+07  9.807042e+07   1729929.0   7473012.00
             2005  3.211426e+07  1.136096e+08   2009855.0   8768056.00
             2006  3.719586e+07  1.320863e+08   2278351.0  10095164.00
             2007  4.176742e+07  1.470426e+08   3028995.0  11749008.00
             2008  4.842942e+07  1.706083e+08   3032181.0  13344037.00
             2009  5.552511e+07  1.962107e+08   3775671.0  15175514.00
             2010  6.238386e+07  2.181138e+08   4226545.0  16789797.00
             2011  6.917539e+07  2.392364e+08   4606269.0  18931103.00
             2012  7.567396e+07  2.612107e+08   5020893.0  20484413.00
             2013  8.584941e+07  2.969169e+08   5495396.0  23322164.00


                          50%           75%           max
nome_regiao  ano
Centro-Oeste 2002   9413274.0  1.989588e+07  2.079298e+10
             2003  10824531.0  2.290398e+07  2.298489e+10
             2004  11915535.0  2.496207e+07  2.693861e+10
             2005  13460978.5  2.810621e+07  2.969023e+10
             2006  15298560.0  3.304404e+07  3.413646e+10
             2007  17498584.0  3.845959e+07  3.709562e+10
             2008  21070508.5  4.485042e+07  4.288644e+10
             2009  21493085.0  4.844659e+07  5.010900e+10
             2010  24762824.5  5.580412e+07  5.384871e+10
             2011  27741753.0  6.245733e+07  5.947162e+10
             2012  30614889.5  6.885907e+07  6.017942e+10
             2013  34382787.0  7.856844e+07  6.678340e+10
             2014  38281749.0  8.650111e+07  7.372586e+10
             2015  41777828.0  9.485093e+07  8.329459e+10
             2016  45751378.0  1.049584e+08  9.205145e+10
             2017  49695556.0  1.127988e+08  9.800259e+10
             2018  51839886.0  1.209605e+08  1.017928e+11
             2019  56178408.0  1.283438e+08  1.072192e+11
Nordeste     2002  10787858.0  1.894862e+07  1.756333e+09
             2003  12068491.0  2.105377e+07  1.941034e+09
             2004  13225235.5  2.313697e+07  2.091303e+09
             2005  15691105.0  2.702461e+07  2.451079e+09
             2006  17898647.0  3.163080e+07  2.910517e+09
             2007  20143593.0  3.462039e+07  3.077410e+09
             2008  23158182.0  4.007122e+07  3.762863e+09
             2009  26257772.0  4.618648e+07  4.289292e+09
             2010  29216340.5  5.189258e+07  4.751260e+09
             2011  32842246.5  5.708371e+07  5.154393e+09
             2012  35795312.0  6.195913e+07  5.412861e+09
             2013  40652693.5  7.080360e+07  6.286358e+09

[30 rows x 64 columns]

In [ ]:
grupoRegiao.head()
grupoRegiaoMedia = grupoRegiao.mean()['pib']
#grupoRegiaoMedia.info()
#eda_numcat(grupoRegiao, x=['nome_regiao', 'ano'] y='pib', method='relationship')

AttributeError: ignored